{:highlights [{:id #uuid "63ecf3f3-884b-47cc-bd40-6ac1c6266209", :page 8, :position {:bounding {:x1 38, :y1 88.94921875, :x2 523, :y2 387.94921875, :width 540, :height 405}, :rects (), :page 8}, :content {:text "[:span]", :image 1676473329980}, :properties {:color "yellow"}}], :extra {:page 25}}